<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-nav">
                <div class="footer-col">
                    <strong class="h6"><a href="#">Experience</a></strong>
                    <ul>
                        <li><a href="#">in person</a></li>
                        <li><a href="#">at home</a></li>
                        <li><a href="#">the workout</a></li>
                        <li><a href="#">shop</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <strong class="h6"><a href="#">About</a></strong>
                    <ul>
                        <li><a href="#">The FHIT Difference</a></li>
                        <li><a href="#">What to Expect</a></li>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Diversity and inclusion</a></li>
                        <li><a href="#">blog</a></li>
                        <li><a href="#">press</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <strong class="h6"><a href="#">partnership</a></strong>
                    <ul>
                        <li><a href="#">partnership</a></li>
                        <li><a href="#">Get Certified</a></li>
                        <li><a href="#">careers</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <strong class="h6"><a href="#">help</a></strong>
                    <ul>
                        <li><a href="#">pricing</a></li>
                        <li><a href="#">safety standards</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Refer a Friend</a></li>
                        <li><a href="#">contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-subscribe">
                <strong class="h6">Get Your Inbox in Shape</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Lectus tellus nunc, risus venenatis venenatis tortor.</p>
                <!-- Begin BrandBot Signup Form -->
                <div id="bb_form">
                    <form method="post" action="https://microservices.brndbot.net/forms/answers" name="8y0bw2j" id="bb_form_inner">
                        <div id="alert"></div><div class="form-group"><label for="bb_email">Email Address</label><input type="email" name="bb_email" id="bb_email" class="form-control" required="required" placeholder="Email Address" /></div><div class="form-group">
                        <input type="hidden" name="bb_uuid" id="bb_uuid" value="336ad4ef-90db-4d83-a848-24ea6018e40a" />
                        <button type="submit" class="btn" id="bb_submit">Submit</button>
                    </div>
                    </form>
                </div>
                <script>window.jQuery || document.write('<scr'+'ipt src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></scr'+'ipt>')</script>
                <script src="https://assets.brandbot.com/forms/embed/embed.js?id=8y0bw2j"></script>
                <!-- Ending BrandBot Signup Form -->
            </div>
        </div>
        <div class="footer-row bottom">
            <div class="footer-logo">
                <a href="#" aria-label="site logo">
                    <img class="small" src="../images/logo/footer-logo-small.svg" alt="Fhitting Room">
                    <img class="large" src="../images/logo/footer-logo-large.svg" alt="Fhitting Room">
                </a>
            </div>

            @@include("social-list.html")

            <div class="footer-copyright">
                <p>&copy; 2021 Fhitting Room. All rights reserved.</p>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Waiver + Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
